@using TitlesWebGame.WebUi.ViewModels
@using TitlesWebGame.WebUi.Services
@using Newtonsoft.Json
@using TitlesWebGame.Domain.Entities
@using TitlesWebGame.Domain.ViewModels
@using TitlesWebGame.WebUi.Models
@using System.Runtime.InteropServices
@using TitlesWebGame.WebUi.Pages
@inject GameSocketConnectionManager GameSocketConnectionManager
@implements IDisposable;

<div>
    @if (_isVoting)
    {
        var votingRoundInfo = GameViewModel.NextRoundInfo as CompetitiveArtistVotingRoundInfoViewModel;
        <div>
            <div class="row justify-content-center">
                @if (votingRoundInfo != null)
                {
                    if (_hasVoted == false && votingRoundInfo.Choices.Any(id => id == GameViewModel.Player.ConnectionId) == false)
                    {
                        foreach (var choice in votingRoundInfo.Choices)
                        {
                            <div>@GameViewModel.Player.ConnectionId</div>
                            <div>@choice</div>
                            var displayName = GameViewModel.SessionPlayers.FirstOrDefault(x => x.ConnectionId == choice)?.DisplayName;
                            var data = _answers.FirstOrDefault(x => x.ConnectionId == choice)?.Data;

                            var dataUrl = String.Empty;
                            if (data != null)
                            {
                                dataUrl = "data:image/jpg;base64," + Convert.ToBase64String(data);
                            }

                            <div class="col-6 artist-option">
                                <div class="text-center font-weight-bold">
                                    @displayName
                                </div>
                                <div class="text-center">
                                    <img src="@dataUrl" alt="image could not be loaded" class="img-thumbnail">
                                </div>
                                <div class="row justify-content-center">
                                    <button @onclick="() => HandlePlayerChoice(choice)" class="btn btn-success text-center mt-2" style="width: 80%">Vote</button>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div>Waiting for the rest of players...</div>
                    }
                }
            </div>
        </div>
    }
    else
    {
        if (GameViewModel.NextRoundInfo is CompetitiveArtistReviewRoundInfoViewModel reviewRoundInfo)
        {
            var winnerDisplayName = reviewRoundInfo.Winner.ConnectionId == GameViewModel.Player.ConnectionId ? "You" : reviewRoundInfo.Winner.DisplayName;
            var winnerPaintingData = _answers.FirstOrDefault(x => x.ConnectionId == reviewRoundInfo.Winner.ConnectionId)?.Data;
            var dataUrl = String.Empty;

            if (winnerPaintingData != null)
            {
                dataUrl = "data:image/jpg;base64," + Convert.ToBase64String(winnerPaintingData);
            }
            <div class="container">
                <div class="round-title">
                    @(winnerDisplayName == "You" ? "you have" : winnerDisplayName + " has") won the match!
                </div>
                <div class="row justify-content-center">
                    <div class="col-6 artist-option">
                        <div class="text-center font-weight-bold">
                            @winnerDisplayName
                        </div>
                        <div class="text-center">
                            <img src="@dataUrl" alt="image could not be loaded" class="img-thumbnail">
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>

@code {
    [CascadingParameter(Name = "GameViewModel")]
    protected GameViewModel GameViewModel { get; set; }

    private int roundTimer = 0;

    private bool _isVoting = false;
    private bool _hasVoted = false;

    private List<GameRoundAnswer> _answers;
    
    protected override async Task OnInitializedAsync()
    {
        var responseMessage = await GameSocketConnectionManager.GetAnswerWithData(GameViewModel.RoomKey);
        var responseJson = await responseMessage.Content.ReadAsStringAsync();
        _answers = JsonConvert.DeserializeObject<List<GameRoundAnswer>>(responseJson);

        _isVoting = true;

        GameViewModel.PropertyChanged += OnPropertyChangedHandler;

        Console.WriteLine(_answers[0]);
        
        await base.OnInitializedAsync();
    }

    public async Task HandlePlayerChoice(string connectionId)
    {
        await GameSocketConnectionManager.SendAnswer(GameViewModel.RoomKey, new GameRoundAnswer()
        {
            Answer = connectionId,
            ConnectionId = GameViewModel.Player.ConnectionId,
        });

        _hasVoted = true;
        StateHasChanged();
    }
    
    public void OnPropertyChangedHandler(object sender, ViewModelPropertyChangedEventArgs e)
    {
        if (GameViewModel.NextRoundInfo is CompetitiveArtistVotingRoundInfoViewModel)
        {
            _isVoting = true;
            StateHasChanged();
        }
        if (GameViewModel.NextRoundInfo is CompetitiveArtistReviewRoundInfoViewModel)
        {
            _isVoting = false;
            _hasVoted = false;
            StateHasChanged();
        }
    }

    public void Dispose()
    {
        GameViewModel.PropertyChanged -= OnPropertyChangedHandler;
    }
}