@using TitlesWebGame.WebUi.ViewModels
@using TitlesWebGame.Domain.ViewModels
@using TitlesWebGame.WebUi.Services

@using GEmojiSharp.Blazor
@using TitlesWebGame.Domain.Entities

<div class="container">
    <div class="row justify-content-center">
        <div class="round-title">@GameViewModel.NextRoundInfo.RoundStatement</div>
    </div>
            
    <div class="options-container">
        @{
            string colorOption = @GameViewModel.Player.RoundAwardedPoints > 0 ? "right" : "wrong";
        }
        <div class="option-button option-color-@colorOption">
            @if (GameViewModel.PreviousRoundInfo is MultipleChoiceRoundInfo previousRoundInfo)
            {
                <MultipleChoiceAnswerDisplay Answer="@(previousRoundInfo.Answer)" Choices="@previousRoundInfo.Choices.Split(',')" ColorOption="@colorOption"/>
            }
        </div>
    </div>
            
    <div class="row justify-content-center h3">
        <div>you were awarded @GameViewModel.Player.RoundAwardedPoints points this round!</div>
    </div>
</div>

@{
    var sortedPlayers = GameViewModel.SessionPlayers.OrderByDescending(player => player.CurrentPoints).ToList();
    
    <SessionLeaderBoard SortedPlayers="@sortedPlayers" />
}



@code {
    [CascadingParameter(Name = "GameViewModel")]
    protected GameViewModel GameViewModel { get; set; }
    
}