@using TitlesWebGame.WebUi.ViewModels
@using TitlesWebGame.Domain.ViewModels
@using TitlesWebGame.WebUi.Services

<div class="container">
    <div class="row justify-content-center">
        <div class="round-title">@GameViewModel.NextRoundInfo.RoundStatement</div>
    </div>
            
    <div class="options-container">
        @{
            string colorOption = @GameViewModel.Player.RoundAwardedPoints > 0 ? "right" : "wrong";
        }
        <div class="option-button option-color-@colorOption">
            @if (GameViewModel.NextRoundInfo is MultipleChoiceRoundInfoViewModel nextRoundInfo)
            {
                <MultipleChoiceAnswerDisplay Answer="@GameViewModel.PreviousRoundInfo.Answer" Choices="@nextRoundInfo.Choices" ColorOption="@colorOption"/>
            }
        </div>
    </div>
            
    <div class="row justify-content-center h3">
        <div>you were awarded @GameViewModel.Player.RoundAwardedPoints points this round!</div>
    </div>
    <div class="scores-container">
        @{
            var sortedPlayers = GameViewModel.SessionPlayers;
            sortedPlayers.Sort((x, y) => x.CurrentPoints.CompareTo(y.CurrentPoints));
            for (int i = 0; i < sortedPlayers.Count; i++)
            {
                var placeNumber = i;
        
                <div class="player-score-container">
                    <div class="place-num">
                        @placeNumber )
                    </div>
                    <div class="player-name">
                        @sortedPlayers[i].DisplayName
                    </div>
                    <div class="player-score">
                        @sortedPlayers[i].CurrentPoints
                    </div>
                    <div class="player-tiles-container">
                        @for (int l = 0; l < 3; l++)
                        {
                            string title = "scientist";
                            <div class="player-title">
                                @(l != 3 -1 ? title + ", " : title)
                            </div>
                        }
                    </div>
                </div>
            }
        }
    </div>
</div>


@code {
    [CascadingParameter(Name = "GameViewModel")]
    protected GameViewModel GameViewModel { get; set; }
    
}