@using TitlesWebGame.WebUi.ViewModels
@using TitlesWebGame.Domain.Enums
@using TitlesWebGame.WebUi.Services
@inject ITitlesCategoryEmojiFactory TitlesCategoryEmojiFactory;

@{
    var sortedPlayers = GameViewModel.SessionPlayers.OrderByDescending(player => player.CurrentPoints).ToList();
    
    <div class="text-center h1">@((MarkupString)titleEmojiCode) @sortedPlayers[0].DisplayName @((MarkupString)titleEmojiCode)</div>
    <div class="text-center font-weight-bold h3 mt-4 mb-4" >has won the title of @GameViewModel.NextRoundInfo.TitleCategory.ToString().ToLower()!</div>
    
    <SessionLeaderBoard SortedPlayers="@sortedPlayers" />
}


@code {
    [CascadingParameter(Name = "GameViewModel")]
    protected GameViewModel GameViewModel { get; set; }

    private string titleEmojiCode;
    
    protected override void OnInitialized()
    {
        titleEmojiCode = TitlesCategoryEmojiFactory.GetUniCodeEmojiString(GameViewModel.PreviousRoundInfo.TitleCategory);
        base.OnInitialized();
    }
}