@using TitlesWebGame.WebUi.ViewModels
@using TitlesWebGame.Domain.Entities
@using TitlesWebGame.Domain.ViewModels
@using TitlesWebGame.WebUi.Services
@using TitlesWebGame.Api.Models
@using TitlesWebGame.Domain.Enums

@if (GameViewModel.SessionState == TitlesGameState.Lobby)
{
    <h3>Game is starting very soon...</h3>
}
else if (GameViewModel.SessionState == TitlesGameState.RoundStart)
{
    <div class="container">
        <div>
            <GameRoundTimer IntervalMs="1000" TimeUnits="@(GameViewModel.NextRoundInfo.RoundTimeMs / 1000)"/>
        </div>
        
        @if (_chosenThisRound == false)
        {
            <div class="row justify-content-center">
                <div class="round-title">@GameViewModel.NextRoundInfo.RoundStatement</div>
            </div>
            @if (GameViewModel.NextRoundInfo is MultipleChoiceRoundInfoViewModel nextRoundInfo)
            {
                <div class="options-container">
                
                    @for (int i = 0; i < nextRoundInfo.Choices.Length; i++)
                    {
                        var optionNumber = i.ToString();
                        string optionColor = "option-color-" + i;
                        string marks = "ABCDEFGIJKLMNOP";

                        <div @onclick="@(e => HandlePlayerChoice(e, optionNumber))" class="option-button @optionColor">
                            <div class="option-mark">
                                @marks[i]
                            </div>
                            <div class="option-text">
                                @nextRoundInfo.Choices[i]
                            </div>
                        </div>
                    }
                </div>
            }
        }
        else
        {
            <div class="row justify-content-center">
                <div class="waiting-round-text">
                    Waiting for the rest of players...
                </div>
            </div>
        }
    </div>
}
else if(GameViewModel.SessionState == TitlesGameState.RoundReview)
{
    <div class="container">
        <div class="row justify-content-center">
            <div class="round-title">@GameViewModel.NextRoundInfo.RoundStatement</div>
        </div>
    
        <div class="options-container">
            @{
                string colorOption = @GameViewModel.Player.RoundAwardedPoints > 0 ? "right" : "wrong";
            }
            <div class="option-button option-color-@colorOption">
                @if (GameViewModel.NextRoundInfo is MultipleChoiceRoundInfoViewModel nextRoundInfo)
                {
                    <MultipleChoiceAnswerDisplay Answer="@GameViewModel.PreviousRoundInfo.Answer" Choices="@nextRoundInfo.Choices" ColorOption="@colorOption"/>
                }
            </div>
        </div>
    
        <div class="row justify-content-center h3">
            <div>you were awarded @GameViewModel.Player.RoundAwardedPoints points this round!</div>
        </div>
        <div class="scores-container">
            @{
                var sortedPlayers = GameViewModel.SessionPlayers;
                sortedPlayers.Sort((x, y) => x.CurrentPoints.CompareTo(y.CurrentPoints));
                for (int i = 0; i < sortedPlayers.Count; i++)
                {
                    var placeNumber = i;

                    <div class="player-score-container">
                        <div class="place-num">
                            @placeNumber )
                        </div>
                        <div class="player-name">
                            @sortedPlayers[i].DisplayName
                        </div>
                        <div class="player-score">
                            @sortedPlayers[i].CurrentPoints
                        </div>
                        <div class="player-tiles-container">
                            @for (int l = 0; l < 3; l++)
                            {
                                string title = "scientist";
                                <div class="player-title">
                                    @(l != 3 -1 ? title + ", " : title)
                                </div>
                            }
                        </div>
                    </div>
                }
            }
        </div>
    </div>
}
else if (GameViewModel.SessionState == TitlesGameState.TitlesRoundReview)
{
    <div>
        Titles round review!!!
    </div>
}
else if (GameViewModel.SessionState == TitlesGameState.GameEnded)
{
    <div>
        Game has ended...
    </div>
}


@code {
    [CascadingParameter(Name = "GameViewModel")]
    protected GameViewModel GameViewModel { get; set; }

    [CascadingParameter(Name = "GameSocketConnectionManager")]
    protected GameSocketConnectionManager GameSocketConnectionManager { get; set; }

    private bool _chosenThisRound = false;
    
    private async Task HandlePlayerChoice(MouseEventArgs e, string answer)
    {
        await GameSocketConnectionManager.SendAnswer(GameViewModel.RoomKey, new GameRoundAnswer()
        {
            Answer = answer,
            ConnectionId = GameViewModel.Player.ConnectionId,
        });
        
        _chosenThisRound = true;
    }    
}